:host {
  display: block;
  padding: 20px 12px;
  background-color: var(--dark-color);
  height: 100dvh;
}

.img {
  margin-left: 16px;
  margin-bottom: 20px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  cursor: pointer;
  padding: 16px 12px;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-hover);
    color: var(--primary-color);

    .icon {
      color: var(--primary-color);
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
}


.medium-text {
  margin-bottom: 20px;
  margin-left: 28px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.to-subscribers {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
}

.arrowIcon {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}

.sidebar-footer {
  background-color: var(--dark-hover);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
}